
/* BRAND COLORS

Blue #0b93d1
Yellow #f8ea3a
Orange #f59730
Red #d7242e
Black #000000
White #eeeeee

*/


/* BRAND FONTS

font-family: 'Signika', sans-serif;
font-family: 'Roboto', sans-serif;

*/




/* RESET RULE */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* END RESET RULE*/

html {
	font-family: 'Roboto', sans-serif;
	background: #eeeeee;
}

p {
	max-width: 980px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font-family: 'Signika', sans-serif;
	font-size: 25px;
	max-width: 980px;
	margin: 0 auto;
}

h1 {
	color: #d7242e;
}

h2 {
	color: #f59730;
}

h4 {
	color: #0b93d1;
}


/* --------- NAV ----------- */


.navigation {
  height: 80px;
  background: #0b93d1;
}

.logo {
  position: absolute;
  padding: 20px;
  float: left;
}

.logo img {
	max-width: 180px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
	font-family: 'Signika', sans-serif;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  background: #0b93d1;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background-color: #000000;
	background-image: linear-gradient(
		to left,
		#0b93d1, #f8ea3a, #f59730, #d7242e
		);
	color: #000000;
	transition: 0.3s ease;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}


.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #0b93d1;
  height: 70px;
  width: 70px;
}

@media (max-width: 919px) {
	.logo img {
		max-width: 146px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


/* ------------- END NAV ----------------- */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	@media screen and (min-width: 799px) {
	  .embed-container {
	    max-width: 949px;
			margin: 0 auto;
	  }
	}

.main-info {
	padding: 2rem;
}


.main-info p {
	padding: 1em 0 3em 0;
}


/* -------- BUTTONS -------- */

.button-holder {
	margin: 0 auto;
	text-align: center;
	padding-top: 2rem;
}

.camps-button-holder {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}


button {
	font-family: 'Signika', sans-serif;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	padding: 16px;
  width: 300px;
  margin: 0.3em;
	transition: 0.3s ease;
}

.red-btn {
	background: #d7242e;
}

.orange-btn {
	background: #f59730;
}

.camp-btn {
	margin: 0 auto;
	background: #0b93d1;
	width: 150px;
}

button:hover {
	background: #000000;
	transition: 0.3s;
}


/* -------- END BUTTONS -------- */


/* --------- HOMEPAGE HERO IMAGES ------- */
.heroimg {
	height: 440px;
}

#hero1 {
	background-image: url(images/image1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#hero2 {
	background-image: url(images/image2.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}




/* --------- END HOMEPAGE HERO IMAGES ------- */


/* --------- CAMPS TABLE ------- */

.main-camps {
	padding: 2rem;
	margin: 0 auto;
	max-width: 692px;
}

table {
	width: 100%;
	margin: 0 auto;
}


.main-camps th {
	text-align: left;
	padding-top: 15px;
}

.camp-date {
	padding-left: 50px;
}

/* --------- END CAMPS TABLE ------- */






/* ---------  JOKE OF THE DAY  ------- */


.jokes {
	padding: 2rem;
	background: #f8ea3a;
}


/* --------- END JOKE OF THE DAY  ------- */








/* -------- CONTACT FORM ----------*/

.contact {
	padding: 2rem;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	font-family: 'Roboto', sans-serif;
}

#contact button[type="submit"] {
	font-family: 'Signika', sans-serif;
}

#contact {
  background: #0b93d1;
  padding: 25px;
	margin: 1rem auto;
	max-width: 636px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {

  border: medium none !important;
  margin: 0 0 10px;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: white;
  color: #000000;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 20px;
}

#contact button[type="submit"]:hover {
  background: black;
	color: white;
  transition: 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

/* --------- END CONTACT FORM --------*/




/* CAMPS HTML PAGE */

#more1, #more2, #more3, #more4, #more5, #more6 {
	display: none;
}




/* --------- FOOTER ----------- */

footer {
	background-color: #eeeeee;
	background-image: linear-gradient(
		to left,
		#0b93d1, #f8ea3a, #f59730, #d7242e
		);
	margin: 0 auto;
	text-align: center;
	display: block;
	padding: 2rem 0;
}

.footer-img img {
	max-width: 30%;
}

.social {
	padding: 1rem;
}
.social img {
height: 40px;
transition: .5s ease;
}

.social img:hover {
	height: 43px;
	transition: .3s ease;
}

.footer-contact-1, .footer-contact-2 {
	text-align: center;
	padding: 1em 0;

}

.footer-contact p {
	padding-top: 0.25em;
	font-weight: bolder;
}
